.idea/*
!.idea/runConfigurations
*.iws
*.iml
*.ipr
.settings
.vs
local.properties
.user
.gradle
.svn
*.log
/out/
/target/
/build/
/*/build/
/temp/
/build/*
*.exe
*.msi
*.7z
*.bz2
*.bin
*.class
*.com
*.dat
*.deb
*.dll
*.dmg
*.ear
*.gz
*.iso
*.lz
*.mdb
*.mp3
*.mp4
*.msp
*.nupkg
*.ocs
*.pkg
*.pyc
*.rar
*.rpm
*.rz
*.so
*.tar
*.tgz
*.war
*.wav
*.wim
*.xz
*.zip
# Ignore Gradle build output directory
build
